/* -------------------------------------------------------------------------- */
/* RESPONSIVE MEDIA QUERIES */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SMALL BREAKPOINT (Landscape Phones and Up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 0.8rem 0.5rem;
  }
}

/* -------------------------------------------------------------------------- */
/* MEDIUM BREAKPOINT (Tablets 768px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .ui-btn {
    display: inline-flex;
    min-width: 220px;
  }

  /* TOPBAR ***************************************************************** */
  .topbar {
    .containerish {
      max-width: 100% !important;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      padding: 0.2rem 0.5rem;

      .col-left {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      // .col-mid {
      //   display: none;
      // }
      .col-right {
        grid-row: 1;
        grid-column: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

  /* HERO ******************************************************************* */
  /* SEARCH ***************************************************************** */
  /* MEDICAL DERM AND AESTHETICS ******************************************** */
  /* EVENT ****************************************************************** */
  /* BOTOX  ***************************************************************** */
  /* FILLERS  *************************************************************** */
  /* SKIN CARE FOR EVERY AGE ************************************************ */
  /* TESTIMONIAL SECTION **************************************************** */
  /* FACE ******************************************************************* */
  /* BODY ******************************************************************* */
  /* SKIN CARE  ************************************************************* */
  /* BIO ******************************************************************** */
  /* REQUEST APPT. ********************************************************** */
}

/* -------------------------------------------------------------------------- */
/* LARGE BREAKPOINT (Desktops 992px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 0.8rem 0.5rem;
    width: 225px;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  /* TOPBAR ***************************************************************** */
  .topbar {
    .containerish {
      grid-template-columns: max-content 1fr max-content;
      padding: 0.2rem 1rem;

      .col-left {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .col-mid {
        grid-column: 2;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .col-right {
        grid-row: 1;
        grid-column: 3;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

  /* HERO ******************************************************************* */
  /* SEARCH ***************************************************************** */
  /* MEDICAL DERM AND AESTHETICS ******************************************** */
  /* EVENT ****************************************************************** */
  /* BOTOX  ***************************************************************** */
  /* FILLERS  *************************************************************** */
  /* SKIN CARE FOR EVERY AGE ************************************************ */
  /* TESTIMONIAL SECTION **************************************************** */
  /* FACE ******************************************************************* */
  /* BODY ******************************************************************* */
  /* SKIN CARE  ************************************************************* */
  /* BIO ******************************************************************** */
  /* REQUEST APPT. ********************************************************** */
}

/* -------------------------------------------------------------------------- */
/* EXTRA LARGE BREAKPOINT (Large Desktops 1200px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {

  /* TOPBAR ******************************************************* */
  header {
    position: absolute;
    top: 0;
    left: 0;
  }

  /* TOPBAR ******************************************************* */
  .topbar {
    .containerish {
      .topbar-link {
        // margin-right: 1rem;
        display: inline-flex;
      }

      padding: 0.2rem 2rem;
    }
  }

  /* HERO ******************************************************************* */
  /* SEARCH ***************************************************************** */
  /* MEDICAL DERM AND AESTHETICS ******************************************** */
  /* EVENT ****************************************************************** */
  /* BOTOX  ***************************************************************** */
  /* FILLERS  *************************************************************** */
  /* SKIN CARE FOR EVERY AGE ************************************************ */
  /* TESTIMONIAL SECTION **************************************************** */
  /* FACE ******************************************************************* */
  /* BODY ******************************************************************* */
  /* SKIN CARE  ************************************************************* */
  /* BIO ******************************************************************** */
  /* REQUEST APPT. ********************************************************** */
}

/* -------------------------------------------------------------------------- */
/* MACBOOK PRO 15" BREAKPOINT (Large Desktops 1400px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1400px) {

  /* HERO ******************************************************************* */
  /* SEARCH ***************************************************************** */
  /* MEDICAL DERM AND AESTHETICS ******************************************** */
  /* EVENT ****************************************************************** */
  /* BOTOX  ***************************************************************** */
  /* FILLERS  *************************************************************** */
  /* SKIN CARE FOR EVERY AGE ************************************************ */
  /* TESTIMONIAL SECTION **************************************************** */
  /* FACE ******************************************************************* */
  /* BODY ******************************************************************* */
  /* SKIN CARE  ************************************************************* */
  /* BIO ******************************************************************** */
  /* REQUEST APPT. ********************************************************** */
}

/* -------------------------------------------------------------------------- */
/* SUPER LARGE BREAKPOINT (IMAC STATUS 1900px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1900px) {
  /* HERO ******************************************************************* */
  /* SEARCH ***************************************************************** */
  /* MEDICAL DERM AND AESTHETICS ******************************************** */
  /* EVENT ****************************************************************** */
  /* BOTOX  ***************************************************************** */
  /* FILLERS  *************************************************************** */
  /* SKIN CARE FOR EVERY AGE ************************************************ */
  /* TESTIMONIAL SECTION **************************************************** */
  /* FACE ******************************************************************* */
  /* BODY ******************************************************************* */
  /* SKIN CARE  ************************************************************* */
  /* BIO ******************************************************************** */
  /* REQUEST APPT. ********************************************************** */
}