/* -------------------------------------------------------------------------- */
/* SECTION STYLES */
/* -------------------------------------------------------------------------- */
.containerish {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  padding: 0;
}

section {
  overflow: hidden;
}

/* -------------------------------------------------------------------------- */
/* HERO SECTION */
/* -------------------------------------------------------------------------- */
.hero {}

/* -------------------------------------------------------------------------- */
/* SEARCH SECTION */
/* -------------------------------------------------------------------------- */
.search {
  background: $color-white;
  padding: 40px 20px;

  .containerish {
    display: grid;

    .form-control {
      border-radius: 0;
      margin-bottom: 0.5rem;
    }

    .form-control:not(button) {
      border: 1px solid #ededed;
    }

    ::placeholder {
      color: #3e3a42;
      font-family: $font-primary;
      font-size: 15px;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* MEDICAL DERM AND AESTHETICS */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* EVENT SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* BOTOX SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* FILLERS SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SKIN CARE FOR EVERY AGE SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* TESTIMONIAL SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* FACE SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* BODY SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SKIN CARE SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* BIO SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* REQUEST APPT. SECTION */
/* -------------------------------------------------------------------------- */